@charset "UTF-8";

* {
	padding:0px;
	margin:0px;
}

@font-face {
	font-family:myFont;
	src:url(segoepr.ttf);
}
body {
	background-color:#ccc;
}
.container {
	margin:0 auto;
	width:990px;
	margin-top:8px;
	margin-bottom:8px;
	box-shadow:2px 2px 20px black;
	padding:5px;

}

div.banner {
	width:1000px;
	height:140px;
	margin:0 auto;
	background-color:#b30d50;
}

div.main_banner {
	width:100%;
	height:165px;
	background-color:#b30d50;
}

div.logo {
	padding-top:10px;
	width:120px;
	float:left;	
}

div.title {
	float:left;
	width:620px;
}
div.title h1 {
	color:tan;
	font-family:myFont;
	text-shadow:2px 2px 15px black;
	position:relative;
	top:15px;
	margin-left:8px;
	display:inline;
}
div.search {
	color:#ccc;
	margin-left:40px;
	font-size:20px;
	float:right;
	height:100px;
	margin-top:10px;
	text-align:right;
}

span.lang {
	color:black;
}
div.search input {
	margin-top:20px;
	padding:3px;
}
div.search input[type="text"] {
	border-radius:20px;
	border:0px;
	box-shadow:inset 2px 4px 15px gray;
	outline:none;
}
div.search input[type="text"]:focus {
	border:1px solid lightblue;
}
div.search input[type="submit"] {
	padding:4px 6px 4px 6px;
	border-radius:5px;
	border:none;
	background:lightblue;
	outline:none;
}
div.search input[type="submit"]:hover {
	background-color:#000;
	color:#fff;
}
div.search a {
	color:#fff;
	text-decoration:none;
}

div.search a:hover {
	color:gray;
	border-bottom:1px solid gray;
}
img#slogan {
	width:300px;
	margin-left:80px;
	margin-top:-10px;
}

div.nav_wrapper {
	width:100%;
}
div.nav {
	width:1000px;
	height:25px;
	background-color:#bbb;
	text-align:center;
	padding-top:2px;
	margin:0 auto;
}

div.nav ul {
	/* width:500px; */
	/* border:1px solid red; */
}
div.nav ul li {
	display:inline;
}
div.nav ul a {
	text-decoration:none;
	font-size:20px;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
	color:#fff;
	height:25px;
}

div.nav ul a:hover {
	/* text-decoration:underline; */
	color:#000;
}
div.content {
	width:700px;
	height:300px;
	background-color:#ccc;
}
div.right_side {
	width:100px;
	height:300px;
	border-radius:100px;
	background-color:inherit;
	float:right;
	margin-left:50px;
	margin-right:50px;
	
}
div.extra {
	width:750px;
	height:270px;
	background-color:#fff;
	border-radius:10px;
	float:left;
	padding:15px;
}
div.rohullah {
	width:50px;
	height:40px;
	background-color:#fff;
	margin-top:20px;
	margin-left:25px;
	border-radius:100px;
	text-align:center;
	padding-top:10px;
	float: right;

}
div.rohullah:hover {
	background-color:#000;
}
div.rohullah img {
	border-radius:20px;
}


div.footer_wrapper {
	width:100%;
	background-color:gray;
}
div.footer {
	width:1000px;
	margin:0 auto;
	height:100px;
	background-color:gray;
	clear:both;
	text-align:center;
	font-size:20px;
	padding-top:25px;
	color:#fff;
}

div.footer a {
	text-decoration:none;
	color:#fff;
}

div.footer a:hover {
	color:#000;
}
/*contact page*/


div#contact{
    width:700px;
    height:550px;
    margin:0 auto;
    padding-top:60px;
    font-size:16px;
}
#uname, #uemail, #uphone, #usub{
    border-radius:10px;
	background:#eee;
    padding:5px;
}
#umess{
    border-radius:20px;
	padding:10px;
	background:#eee;
}
#umess:focus {
	outline:none;
	background:#fff;
}
div#contact input:focus {
	outline:none;
	background:#fff;
}
/*about page */
div.about {
	width:800px;
	margin:50px auto;
	height:500px;
	padding:10px;
	box-shadow:0px 0px 30px 1px #000;
	border-radius:100px;
}
div.about  h1{
    margin-top:40px;
    text-align:center;
}
div.about p{
    margin-top:30px;
	text-align:left;
	font-size:16px;
	font-family:myfont;

}
div.logous{
    width:100px;
    height:100px;
	margin:0 auto;
	

}

div.food {
	width:980px;
	height:630px;
	border-radius:10px;
	background-color:#fff;
	padding:5px;
}